.page-title {
    font-family: 'good_footregular';
    font-size: 42px;
    text-align: center;
    margin: 110px 0px -20px;
}

.main-menu a:link{
    text-decoration: none;
    color: black;
}

.main-menu {
    font-family: 'caviar_dreamsregular', arial, sans-serif;
    font-size: 17px;
    text-align: center;
}

.main-menu li {
    display:inline;
}

.main-menu a {
    display:inline-block;
    padding:10px;
    letter-spacing: 2.5px;
}

.images {
    text-align: center;
    font-family: 'caviar_dreamsbold';
}

.images a:link{
    text-decoration: none;
    color: black;
    padding: 0;
}

.images li {
    margin: 0px 14px;
    display:inline-block;
}

.images a {
    letter-spacing: 1px;
    font-size: 18px;
    display:block;
    padding:10px;
}

.foot {
    font-family: 'caviar_dreamsregular';
    text-align: center;
}

.main-container {
     width: 960px;
     margin: auto;
}


.blog li{
    display:inline-block;
    margin: 2px;
    padding: 0px;
}

.blog {
    width: 744px;
    padding: 0px;
    margin: 0px auto;

}

.blog img{
    display: block;
    padding: 0px;
}

.blog ul{
    padding: 0px;
    margin: auto;
}
