.page-title {
    color: cadetblue;
    font-size: 20px;
    text-align: center;
    margin: 60px 60px ;
}

.main-menu {
    text-align: center;
}

.main-menu li {
    display:inline;
}

.main-menu a {
    display:inline-block;
    padding:10px;
}

.main-container {
     width: 960px;
     margin: auto;
}